.btn-primary {
    background-color: rgb(44, 212, 128);
    border: 1px solid rgb(44, 212, 128);
    border-radius: 5px;
    width: 50px;
}

.inputBox {
    border-radius: 5px;
    border: 1px solid black;
}